{% extends 'base.html' %}
{% block content %}

<h2>Dashboard – {{ date }}</h2>

<div class="row text-center mb-4">
  <div class="col-md-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6>Calories</h6>
        <h4>{{ summary.calories }} kcal</h4>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6>Protein</h6>
        <h4>{{ summary.protein }} g</h4>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6>Carbs</h6>
        <h4>{{ summary.carbs }} g</h4>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6>Fats</h6>
        <h4>{{ summary.fats }} g</h4>
      </div>
    </div>
  </div>
</div>


<hr>

<!-- CHARTS -->
<div style="width: 80%; margin: auto;">
<h3>Weight Progress</h3>
<canvas id="weightChart"></canvas>
</div>

<br>

<div style="width: 60%; margin: auto;">
  <h3>Macro Distribution</h3>
  <canvas id="macroChart"></canvas>
</div>

<!-- Chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Charts Script -->
<script>
  // Weight Line Chart
  const weightCtx = document.getElementById('weightChart');

  new Chart(weightCtx, {
    type: 'line',
    data: {
      labels: {{ weight_dates|safe }},
      datasets: [{
        label: 'Weight (kg)',
        data: {{ weight_values|safe }},
        tension: 0.3,
        fill: false
      }]
    }
  });

   // Macro Pie Chart
  const macroCtx = document.getElementById('macroChart');

  new Chart(macroCtx, {
    type: 'pie',
    data: {
      labels: {{ macro_labels|safe }},
      datasets: [{
        data: {{ macro_values|safe }}
      }]
    }
  });


<script>

{% endblock %}
