{% extends 'base.html' %}
{% block content %}

<h2>Dashboard – {{ date }}</h2>

<ul>
  <li>Calories: {{ summary.calories }} kcal</li>
  <li>Protein: {{ summary.protein }} g</li>
  <li>Carbs: {{ summary.carbs }} g</li>
  <li>Fats: {{ summary.fats }} g</li>
</ul>

  <li>Fats: {{ summary.fats }} g</li>
</ul>

<hr>

<h3>Weight Progress</h3>
<canvas id="weightChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('weightChart');

new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ weight_dates|safe }},
        datasets: [{
            label: 'Weight (kg)',
            data: {{ weight_values|safe }},
            tension: 0.3,
            fill: false
        }]
    }
});
</script>

{% endblock %}